//Header styles

header{
    background-color: $gray;
}

.about-me-background{
    background-color: $gray;
    padding-bottom: 200px;
    width: 100%;
}

.header-img{
    @media (max-width: 1080px){
        background-position: top;
        background-size: 100%;
    }
    background-image: url(../img/my-face.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 45%;
    padding-bottom: 900px;
}

