
.photo-profile{
    background-image: url(../../img/profile.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 350px;
    margin: 0 auto;
    position: relative;
    top: -150px;
    width: 350px;
}