
.about-me{
    font-size: 100px;
    color: #666 ;

    span:nth-child(1)  {
        left: 125px;
        position: relative;
        top: -490px;
    }
    span:nth-child(2){
        left: 730px;
        position: relative;
        top: -490px;
    }
}

.photo-profile{
    background-image: url('../../img/profile.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 350px;
    margin: 0 auto;
    position: relative;
    top: -150px;
    width: 350px;
}

