
.header-content-btn{
    display: inline-block;
    position: relative;
    text-align: center;
    top: 450px;
    width: 100%;
}
.menu-btn{
    background-color: rgba(153, 153, 153, 0);
    border: 2px solid rgba(102, 102, 102, 0);
    color: #666;
    font-family: 'roboto';
    font-size: 30px;
    padding: 20px 40px; 
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
    &:hover{ 
        border: 2px solid rgba(102, 102, 102, 1);
        color: white;
        cursor: pointer;
    }
}

