//Header styles

button{
    background-color: #999;
    border:none;
    color: #666;
    font-family: 'roboto';
    font-size: 30px;
    padding: 20px 70px;
    text-align: center;
    text-transform: uppercase;
    &:hover{
        border: 2px solid #666;
        color: white;
        cursor: pointer;
        transition: 1s;
    }
}

header{
    background-color: #999;
}

h1{
    color: white;
    font-size: 40px;
    left: 0px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 300px;
    font-size: 55px;
}

img{
    left: 1050px;
    position: relative;
    top: -80px;
}

.header-content-btn{
    display: inline-block;
    left: 370px;
    margin: 0 auto;
    position: relative;
    top: 400px;
    width: 1100px;
}