//Header styles

button{
    background-color: rgba(153, 153, 153, 0);
    border: 2px solid rgba(102, 102, 102, 0);
    color: #666;
    font-family: 'roboto';
    font-size: 30px;
    padding: 20px 40px; 
    text-align: center;
    text-transform: uppercase;
    transition: 1s;
    &:hover{ 
        border: 2px solid rgba(102, 102, 102, 1);
        color: white;
        cursor: pointer;
    }
}

header{
    background-color: $gray;
}

.header-img{
    background-image: url(../../img/my-face.png);
    background-position-x: 1000px;
    background-repeat: no-repeat;
    padding-bottom: 1000px;
}

h1{
    color: white;
    font-size: 40px;
    left: 0px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 300px;
    font-size: 55px;
}

.header-content-btn{
    display: inline-block;
    position: relative;
    text-align: center;
    top: 400px;
    width: 100%;
}